{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":8},"end":{"row":2,"column":17},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"70bfb9255becd3910df8152cec58e5cbd75a3638","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":1,"column":8},"end":{"row":2,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":2,"column":0},"end":{"row":2,"column":17},"action":"insert","lines":["requests_oauthlib"],"id":3}],[{"start":{"row":1,"column":8},"end":{"row":2,"column":17},"action":"remove","lines":["","requests_oauthlib"],"id":4}]]},"timestamp":1567717525776}