<!DOCTYPE html>
<html>
   <head>
        <link rel="stylesheet" type="text/css" href="/static/mystyle.css"/>
    </head>
        
        <body>
            <img src={{song_art}}>
            
            <div class="section">
                
                <h1> {{ song_title }} </h1>
              
                <!--<div>-->
                <!--video element tomvid autoplays and is muted-->
                <!--<video id="vidground" autoplay loop muted>-->
                <!--  <source src="/static/tomvid.mp4" type="video/mp4">-->
                <!--</video>-->
                
                <!--</div>-->
            
            </div>
            
            
                {% if choice_num == "3300945": %}
                    <div><video src="/static/tom books portrait.jpg"></div>
                {% elif choice_num == "484106": %}
                    <div><video src="/static/tomvid.mp4"></div>
                {% elif choice_num == "484106": %}
                    <div><video src="/static/tomvid.mp4"></div>
                {% elif choice_num == "484106": %}
                    <div><video src="/static/tomvid.mp4"></div>
                {% elif choice_num == "484106": %}
                    <div><video src="/static/tomvid.mp4"></div>
                {% elif choice_num == "484106": %}
                    <div><video src="/static/tomvid.mp4"></div>
                {% elif choice_num == "484106": %}
                    <div><video src="/static/tomvid.mp4"></div>
                {% endif %}
            
        </body>
        
    </html>