        #vidground {
            position: fixed;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            transform: translateX(-50%) translateY(-50%);
        }
        
        /*#artist_photo {*/
        /*    max-width:50%;*/
        /*    max-height:50%;*/
        /*}*/
        
        /*.section {*/
        /*    position: relative;*/
        /*    width: 100%;*/
        /*    height: 100vh;*/
        /*    display: flex;*/
        /*    align-items: center;*/
        /*    justify-content: center;*/
        /*    overflow: hidden;*/
        /*    opacity: .9;*/
        /*}*/
        
        .section h1 {
            text-align: center;
            font-size: 6rem;
            font-family: "Cookie";
            background: lime;
            padding: 30px;
            margin: 300;
            z-index: 1;
        }
        
        /*.video-container {*/
        /*    position: absolute;*/
        /*    top: 0;*/
        /*    left: 0;*/
        /*    width: 100%;*/
        /*}*/